body:not(.index) footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer {
  background-color: $yellow;
  padding: 1.5em;
  text-align: center;
  font-family: $text-font;
  letter-spacing: 2px;
  overflow: hidden;
  span.company, span.terms-and-conditions, span.privacy-statement, span.e-mail, span.phone-number {
    display: block;
    color: $dark-yellow;
    line-height: 25px;
  }

  span.terms-and-conditions, span.privacy-statement {
    a {
      font-weight: 700;
      color: $dark-gray;
      text-decoration: none;
    }
  }

  span.e-mail, span.phone-number {
    a {
      color: $dark-yellow;
      text-decoration: none;
    }
  }
  .company-details {
    margin-bottom: 16px;
  }
  @media only screen and (min-width: 768px) {
    font-size: 18px;
    .company-details {
      text-align: left;
      float: left;
      margin-bottom: 0;
      span.terms-and-conditions, span.privacy-statement {
        display: inline-block;
      }
      span.terms-and-conditions:after {
        content: " |";
        font-weight: 700;
      }
    }
    .contact-details {
      text-align: right;
      float: right;
    }
  }
}