#information-page {
  @include container(800px);
  h1 {
    margin: 0 16px 4px;
    line-height: 32px;
    font-family: $heading-font;
    font-size: 26px;
    font-weight: 700;
  }
  h2 {
    font-family: $heading-font;
    font-size: 20px;
    font-weight: 600;
    margin: 32px 16px 16px;
  }
  h3 {
    margin: 0 16px 16px;
    font-family: $heading-font;
    font-style: italic;
    font-size: 18px;
  }
  p {
    margin: 0 16px 8px;
    font-family: $text-font;
    line-height: 24px;
    color: $dark-gray;
  }
  ul {
    list-style-type: initial;
    margin-left: 36px;
    li {
      line-height: 24px;
    }
  }
  ol {
    list-style-type: decimal;
    margin-left: 36px;
    li{
      line-height: 24px;
    }
  }
  a.url {
    color: $link;
  }
  p a {
    color: $link;
  }
  @media only screen and (min-width: 768px) {
    @include container(800px);
    margin-top: 96px;
  }
}

