@import 'susy';

$yellow: #FFE183;
$dark-yellow: #5B4F2A;
$white: #FFFFFF;
$black: #000000;
$dark-gray: #333333;
$gray: #555555;
$link: #1da1f2;

$heading-font: 'Montserrat', sans-serif;
$text-font: 'Source Sans Pro', sans-serif;

* { box-sizing: border-box; }

html {
  box-sizing: border-box;
}

body {
  color: $dark-gray;
}

html:not(.index) {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

body:not(.index) {
  margin: 0 0 200px;
  bottom: 104px;
  overflow-x: hidden;
}

#landing {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: $heading-font;
  position: relative;
  background: url('../images/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
}

.top-line {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 4px;
  background-color: $yellow;
  z-index: 1;
}

.dark-layer {
  background: $black;
  opacity: 0.25;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}

.middle-part {
  text-align: center;
  color: $white;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  h1 {
    font-size: 4em;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 8px;
  }
  h2 {
    font-size: 2em;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
  }
  span.yellow {
    color: $yellow;
  }
  // Fade in effects
  animation:fadein 1s ease-out forwards;
}

a.button {
  color: $white;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid $white;
  border-radius: 100px;
  padding: 12px 48px;
  margin-top: 32px;
  display: block;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  top: 16px;
  transition: .2s;
  &:hover {
    background: $white;
    color: #333333;
    text-shadow: none;
  }
}

.social-media {
  a {
    display: inline-block;
    margin: 0 6px;
    font-size: 1.5em;
    color: $white;
    transition: .2s;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.20);
    &#codepen:hover  { color: #000000; }
    &#twitter:hover  { color: #1da1f2; }
    &#linkedin:hover { color: #0077b5; }
    &#gitlab:hover { color: #fc6d26; }
  }
  position: absolute;
  bottom: 1.5em;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 600px) {
  .middle-part {
    h1 {
      font-size: 2.2em;
    }
    h2 {
      font-size: 1.2em;
    }
  }
}

::selection {
  background: $yellow;
}

@keyframes fadein
{
  from  { padding-bottom: 0; opacity: 0; }
  to    { padding-bottom: 64px; opacity: 1; }
}