// Global
h1 {
  font-family: $heading-font;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 1em;
}

h3 {
  font-family: $text-font;
  font-size: 18px;
}

// Project list
#projects {
  width: 100%;
  height: 100%;
  background: $white;
  padding: 2em 1em;
  overflow: hidden;
  .filter-buttons {
    ul {
      list-style: none;
    }
    li {
      display: inline-block;
      font-family: $heading-font;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
      cursor: pointer;
      border: 3px solid $yellow;
      border-radius: 30px;
      padding: 12px 32px;
      margin-bottom: 8px;
      margin-right: 3px;
      &.active {
        background: $yellow;
        color: $dark-gray;
      }
    }
  }
  .project-list {
    margin-top: 8px;
    .project {
      width: 100%;
      font-family: $text-font;
      box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
      color: $dark-gray;
      margin-bottom: 16px;
      overflow: hidden;
      .project-link {
        color: $dark-gray;
        text-decoration: none;
        display: block;
        &:hover .project-image {
          transform: scale(1.1);
        }
      }
      .project-image-wrapper {
        width: 100%;
        height: 210px;
        overflow: hidden;
      }
      .project-image {
        background-image: url('https://picsum.photos/400/250/?random');
        background-size: cover;
        background-position: center;
        transition: .3s;
        width: 100%;
        height: 100%;
      }
      .project-text {
        padding: 1em 1em 0;
        h2 {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 8px;
          span.year {
            float: right;
            font-weight: 500;
          }
        }
        span.roles {
          font-size: 14px;
          font-weight: 300;
          font-style: italic;
          margin-bottom: 8px;
          display: block;
        }
        p.project-description {
          color: $gray;
          font-size: 14px;
          margin-bottom: 1em;
          line-height: 21px;
        }
      }
      a.project-url {
        color: $dark-gray;
        font-weight: 600;
        letter-spacing: 2px;
        display: block;
        padding: 0 16px 24px;
      }
      @media only screen and (min-width: 768px) {
        width: calc(50% - 8px);
        min-height: 410px;
        a.project-url {
          position: absolute;
          bottom: 0;
        }
      }
      @media only screen and (min-width: 1024px) {
        width: calc(33.3333% - 11px);
        min-height: 497px;
        .project-image-wrapper { height: 300px; }
      }
      @media only screen and (min-width: 1200px) {
        min-height: 481px;
      }
      @media only screen and (min-width: 1600px) {
        min-height: 460px;
      }
    }
  }
}

a.back-button {
  margin: 32px 16px;
  font-size: 2em;
  text-decoration: none;
  display: block;
  color: $dark-gray;
  cursor: pointer;
}

// Project page
#project {
  h1 {
    margin: 0 16px 4px;
    line-height: 32px;
  }
  h3 {
    margin: 0 16px 8px;
  }
  p {
    margin: 0 16px 8px;
    font-family: $text-font;
    line-height: 24px;
    color: $gray;
  }
  span.roles {
    font-family: $text-font;
    font-size: 14px;
    font-style: italic;
    margin: 0 16px 24px;
    display: block;
  }
  a.project-url {
    color: $dark-gray;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: $heading-font;
    display: block;
    margin: 0 16px 24px;
  }
  img {
    width: 100%;
    margin: 8px 16px;
  }
  @media only screen and (min-width: 768px) {
    @include container(800px);
    margin-top: 96px;
  }
}

