<!doctype html>
<html class="<%= page_classes %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Freelance Webdesigner & Webdeveloper uit Fryslân" />
    <meta name="keywords" content="roy ketelaar, webdeveloper, webdesigner, friesland, fryslan, bolsward, burgwerd, sneek, leeuwarden, freelance, website laten maken, website laten bouwen, professionele website laten maken, website bouwer, website laten ontwerpen, zzp, ruby, ruby on rails, php
    " />
    <meta name="author" content="meta-tags generator">
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="7 days" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>

    <title>Roy Ketelaar</title>
    <!-- webdesigner, webdeveloper, freelance -->

    <!-- Use the title from a page's frontmatter if it has one -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Source+Sans+Pro:300i,400,400i,600,700" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <%= stylesheet_link_tag "reset", "main" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body class="<%= page_classes %>">
    <div class="top-line"></div>
    <%= yield %>
    <footer>
      <div class="company-details">
        <span class="company">© 2018 Roy Ketelaar Media</span>
        <span class="terms-and-conditions"><a href="terms-and-conditions.html">Algemene voorwaarden</a></span>
        <span class="privacy-statement"><a href="privacy-statement.html">Privacy statement</a></span>
      </div>
      <div class="contact-details">
        <span class="e-mail"><a href="mailto:royketelaar@gmail.com">royketelaar@gmail.com</a></span>
        <span class="phone-number"><a href="tel:+31636296843">+316 36 29 68 43</a></span>
      </div>
    </footer>
  </body>
</html>





