<div id="landing">
  <div class="dark-layer"></div>
  <div class="middle-part">
    <h1>Roy Ketelaar</h1>
    <h2><span class="yellow">UI/UX Designer & Webdeveloper</span> in Fryslân</h2>
    <a href="mailto:royketelaar@gmail.com" class="button">Neem contact op</a>
  </div>
  <div class="social-media">
    <a href="https://www.linkedin.com/in/roy-ketelaar-36821b6b" id="linkedin"><i class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com/royketelaar" id="twitter"><i class="fab fa-twitter"></i></a>
    <a href="https://codepen.io/royketelaar" id="codepen"><i class="fab fa-codepen"></i></a>
    <a href="https://gitlab.com/royketelaar" id="gitlab"><i class="fab fa-gitlab"></i></a>
  </div>
</div>

<div id="projects">
  <h1>Projecten</h1>

  <div class="filter-buttons">
    <ul>
      <li data-filter="*" class="active">Alles</li>
      <li data-filter=".Design">Design</li>
      <li data-filter=".Development">Development</li>
    </ul>
  </div>
  <div class="project-list">
    <div class="project all design ">
      <a class="project-link" href="project.html">
        <div class="project-image-wrapper">
          <div class="project-image"></div>
        </div>
        <div class="project-text">
          <h2>Project naam<span class="year">2018</span></h2>
          <span class="roles">Design, Development</span>
          <p class="project-description">
            Tijdens dit project heb ik de website van Verkeersschool Miranda geredesigned, en vervolgens omgezet tot een werkende website met CMS.
          </p>
        </div>
      </a>
      <a href="https://rijdenbijmiranda.nl/" class="project-url">rijdenbijmiranda.nl »</a>
    </div>
    <div class="project all development">
      <a class="project-link" href="project.html">
        <div class="project-image-wrapper">
          <div class="project-image"></div>
        </div>
        <div class="project-text">
          <h2>Project naam<span class="year">2018</span></h2>
          <span class="roles">Design, Development</span>
          <p class="project-description">
            Tijdens dit project heb ik de website van Verkeersschool Miranda geredesigned, en vervolgens omgezet tot een werkende website met CMS.
          </p>
        </div>
      </a>
      <a href="https://rijdenbijmiranda.nl/" class="project-url">rijdenbijmiranda.nl »</a>
    </div>
    <div class="project all development">
      <a class="project-link" href="project.html">
        <div class="project-image-wrapper">
          <div class="project-image"></div>
        </div>
        <div class="project-text">
          <h2>Project naam<span class="year">2018</span></h2>
          <span class="roles">Design, Development</span>
          <p class="project-description">
            Tijdens dit project heb ik de website van Verkeersschool Miranda geredesigned, en vervolgens omgezet tot een werkende website met CMS.
          </p>
        </div>
      </a>
      <a href="https://rijdenbijmiranda.nl/" class="project-url">rijdenbijmiranda.nl »</a>
    </div>
    <div class="project all development">
      <a class="project-link" href="project.html">
        <div class="project-image-wrapper">
          <div class="project-image"></div>
        </div>
        <div class="project-text">
          <h2>Project naam<span class="year">2018</span></h2>
          <span class="roles">Design, Development</span>
          <p class="project-description">
            Tijdens dit project heb ik de website van Verkeersschool Miranda geredesigned, en vervolgens omgezet tot een werkende website met CMS.
          </p>
        </div>
      </a>
      <a href="https://rijdenbijmiranda.nl/" class="project-url">rijdenbijmiranda.nl »</a>
    </div>
    <div class="project all design development">
      <a class="project-link" href="project.html">
        <div class="project-image-wrapper">
          <div class="project-image"></div>
        </div>
        <div class="project-text">
          <h2>Project naam<span class="year">2018</span></h2>
          <span class="roles">Design, Development</span>
          <p class="project-description">
            Tijdens dit project heb ik de website van Verkeersschool Miranda geredesigned, en vervolgens omgezet tot een werkende website met CMS.
          </p>
        </div>
      </a>
      <a href="https://rijdenbijmiranda.nl/" class="project-url">rijdenbijmiranda.nl »</a>
    </div>
    <div class="project all design development">
      <a class="project-link" href="project.html">
        <div class="project-image-wrapper">
          <div class="project-image"></div>
        </div>
        <div class="project-text">
          <h2>Project naam<span class="year">2018</span></h2>
          <span class="roles">Design, Development</span>
          <p class="project-description">
            Tijdens dit project heb ik de website van Verkeersschool Miranda geredesigned, en vervolgens omgezet tot een werkende website met CMS.
          </p>
        </div>
      </a>
      <a href="https://rijdenbijmiranda.nl/" class="project-url">rijdenbijmiranda.nl »</a>
    </div>
    <div class="project all design development">
      <a class="project-link" href="project.html">
        <div class="project-image-wrapper">
          <div class="project-image"></div>
        </div>
        <div class="project-text">
          <h2>Project naam<span class="year">2018</span></h2>
          <span class="roles">Design, Development</span>
          <p class="project-description">
            Tijdens dit project heb ik de website van Verkeersschool Miranda geredesigned, en vervolgens omgezet tot een werkende website met CMS.
          </p>
        </div>
      </a>
      <a href="https://rijdenbijmiranda.nl/" class="project-url">rijdenbijmiranda.nl »</a>
    </div>
    <div class="project all design development">
      <a class="project-link" href="project.html">
        <div class="project-image-wrapper">
          <div class="project-image"></div>
        </div>
        <div class="project-text">
          <h2>Project naam<span class="year">2018</span></h2>
          <span class="roles">Design, Development</span>
          <p class="project-description">
            Tijdens dit project heb ik de website van Verkeersschool Miranda geredesigned, en vervolgens omgezet tot een werkende website met CMS.
          </p>
        </div>
      </a>
      <a href="https://rijdenbijmiranda.nl/" class="project-url">rijdenbijmiranda.nl »</a>
    </div>
    <div class="project all design development">
      <a class="project-link" href="project.html">
        <div class="project-image-wrapper">
          <div class="project-image"></div>
        </div>
        <div class="project-text">
          <h2>Project naam<span class="year">2018</span></h2>
          <span class="roles">Design, Development</span>
          <p class="project-description">
            Tijdens dit project heb ik de website van Verkeersschool Miranda geredesigned, en vervolgens omgezet tot een werkende website met CMS.
          </p>
        </div>
      </a>
      <a href="https://rijdenbijmiranda.nl/" class="project-url">rijdenbijmiranda.nl »</a>
    </div>
    <div class="project all design development">
      <a class="project-link" href="project.html">
        <div class="project-image-wrapper">
          <div class="project-image"></div>
        </div>
        <div class="project-text">
          <h2>Project naam<span class="year">2018</span></h2>
          <span class="roles">Design, Development</span>
          <p class="project-description">
            Tijdens dit project heb ik de website van Verkeersschool Miranda geredesigned, en vervolgens omgezet tot een werkende website met CMS.
          </p>
        </div>
      </a>
      <a href="https://rijdenbijmiranda.nl/" class="project-url">rijdenbijmiranda.nl »</a>
    </div>
    <div class="project all design development">
      <a class="project-link" href="project.html">
        <div class="project-image-wrapper">
          <div class="project-image"></div>
        </div>
        <div class="project-text">
          <h2>Project naam<span class="year">2018</span></h2>
          <span class="roles">Design, Development</span>
          <p class="project-description">
            Tijdens dit project heb ik de website van Verkeersschool Miranda geredesigned, en vervolgens omgezet tot een werkende website met CMS.
          </p>
        </div>
      </a>
      <a href="https://rijdenbijmiranda.nl/" class="project-url">rijdenbijmiranda.nl »</a>
    </div>
  </div>
</div>