<div id="information-page">
  <a onclick="goBack()" class="back-button">
    <i class="far fa-arrow-alt-circle-left"></i>
  </a>
  <h1>Privacyverklaring</h1>
  <h3>Roy Ketelaar Media</h3>
  <p>Roy Ketelaar Media is verantwoordelijk voor de verwerking van persoonsgegevens zoals weergegeven in deze privacyverklaring.</p>

  <h2>Persoonsgegevens die wij verwerken</h2>
  <p>Roy Ketelaar Media verwerkt uw persoonsgegevens doordat u gebruik maakt van onze diensten en/of omdat u deze zelf aan ons verstrekt.</p>
  <p>Hieronder vindt u een <a href="#" class="url">overzicht</a> van de persoonsgegevens die wij verwerken:</p>
  <ul>
    <li>Voor-en achternaam</li>
    <li>Adresgegevens</li>
    <li>Telefoonnummer</li>
    <li>E-mailadres</li>
    <li>Lijst met contactgegevens van de klant via een boekhoudprogramma</li>
  </ul>

  <h2>Met welk doel en op basis van welke grondslag wij persoonsgegevens verwerken</h2>
</div>