<div id="project">
  <a onclick="goBack()" class="back-button">
    <i class="far fa-arrow-alt-circle-left"></i>
  </a>
  <h1>Verkeersschool Miranda</h1>
  <h3>2018</h3>
  <img src="https://placeimg.com/1920/1080/any"/>
  <p>Tijdens dit project heb ik de website van Verkeersschool Miranda geredesigned, vervolgens heb ik deze omgezet tot een werkende website met CMS.</p>
  <span class="roles">Design, Development</span>
  <a href="https://rijdenbijmiranda.nl/" class="project-url">rijdenbijmiranda.nl »</a>
</div>